doctype html

html(lang='fr')
    head
        meta(charset='utf-8')

        title #{title}

        style
            include assets/page.css
            include assets/code.css

            if config.toc
                include assets/toc.css

        script
            include libs/page.js
            include libs/highlight.js
        
    body
        div(id='cover',class='out-context')

            span(class='author') Guillaume Brioudes
            h1(class='page-title') #{title}
            if subTitle
                h2(class='page-sub-title') #{subTitle}

        if config.toc
            nav#toc

        div#content !{content}

        script
            include assets/code.js

            if config.toc
                include assets/toc.js