:root {
    --myred: #d44d3b;
}

body {
    font-family: 'EB Garamond', serif;
    font-size: 1.4em;

    counter-reset: hFirst;
}

@page {
    size: A4;
    margin: 10mm 15mm 10mm 30mm;

    @bottom-right {
        content: counter(page)'/'counter(pages);
        font-family: 'Inconsolata', monospace;
        font-size: 0.8rem;
    }
}

h1, h2, h3, h4 {
    font-family: 'Inconsolata', monospace;
}

h1.page-title {
    font-size: 4em;
    color: var(--myred);
}

h2.page-sub-title {
    font-size: 1rem;
    margin: unset;
    font-weight: 200;
}

h1:not(.out-context h1) {
    counter-increment: hFirst;
    counter-reset: hSecond;
}
h1:not(.out-context h1)::before {
    content: counter(hFirst);
    position: absolute;
    left: -80px;
    font-weight: normal;
    font-size: 0.8em;
}

h2:not(.out-context h2) {
    counter-increment: hSecond;
    counter-reset: hThird;
}
h2:not(.out-context h2)::before {
    content: counter(hFirst)'.'counter(hSecond);
    position: absolute;
    left: -80px;
    font-weight: normal;
    font-size: 0.8em;
}

h3:not(.out-context h3) {
    counter-increment: hThird;
    counter-reset: hFourth;
}
h3:not(.out-context h3)::before {
    content: counter(hFirst)'.'counter(hSecond)'.'counter(hThird);
    position: absolute;
    left: -80px;
    font-weight: normal;
    font-size: 0.8em;
}

h4:not(.out-context h4) {
    counter-increment: hFourth;
}
h4:not(.out-context h4)::before {
    content: counter(hFirst)'.'counter(hSecond)'.'counter(hThird)'.'counter(hFourth);
    position: absolute;
    left: -80px;
    font-weight: normal;
    font-size: 0.6em;
}

p {
    line-height: 120%;
}

pre code {
    font-family: 'Inconsolata', monospace;
    margin: 50px 0;
    font-size: 1.2rem;
    line-height: 150%;
}

a:not(#toc a) {
    color: var(--myred);
    text-transform: none;
}
a:not(#toc a)::after {
    content: " (" attr(href) ")";
}

blockquote{
    border-left:5px solid lightgrey;
    margin:0;
    padding-left:1rem;
}

table {
    border-collapse: collapse;
    margin: 2rem 0;
    text-align: left;
    width: 100%;
}

tr {
    border-bottom: 1px solid lightgrey;
}

th,
td {
    padding: 0.5rem;
}

#cover, #toc {
    break-after: page;
}