#toc ul {
    list-style: none;
    padding: unset;
    margin: unset;
}

#toc li a::after{
	content: target-counter(attr(href), page);
    float: right;
}

#toc a {
    font-family: 'Inconsolata', monospace;
    color: inherit;
    text-transform: none;
    line-height: 150%;
}

#toc .toc-element-level-1 {
    font-size: 1.2em;
}

#toc .toc-element-level-1:not(:first-child) {
    margin-top: 20px;
    margin-bottom: 10px;
}

#toc .toc-element-level-2 {
    text-indent: 50px;
    font-size: 0.8em;
}

#toc .toc-element-level-2+.toc-element-level-2 {
    margin-bottom: 5px;
}

#toc .toc-element-level-3 {
    text-indent: 100px;
    font-size: 0.6em;
}